:root {
  --yellow: #FDF8E2;
  --pale-pink: #FFDDD3;
  --pink: #F3BFB3;
  --dark-blue: #5EA9BE;
  --blue: #9ACDE0;
  --light-blue: #CBE1EF
}

.Add-To-Do {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  max-width: 1024px;
  margin: auto;
  padding: 10px;
}

.taskbar {
  border-radius: 15px;
  background-color: var(--pink);
  padding: 0%;
  left: 18%;
  position: absolute;
  top: 20%;
  padding-right: 9%;
  padding-left: 9%;
}

.task {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px 0;
}

.task:hover {
  background-color: var(--pale-pink);
  cursor: pointer;
}

.task-delete:hover {
  text-decoration: underline;
  color: red;
  cursor: pointer;
}

.task-markComplete:hover {
  text-decoration: underline;
  color: var(--blue);
  cursor: pointer;
}

.taskdetails {
  background-color: var(--blue);
}

.task-header {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.task-header h2 {
  font-size: 45px;
    margin: 0 auto;
    padding-top: 6vh;
}

.center-dash {
  background-color: var(--dark-blue);
  position: absolute;
  margin: 2% 15%;
  border-radius: 26px;
  width: 41%;
  height: 54%;
}

.task-add-form {
  justify-content: space-around;
  box-sizing: border-box;
  padding: 147px;
  padding-top: 101px;
  height: 101%;
}
.add {
  font-size: 200%;
}

.task-name{
  font-size: 150%;
}

.input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.button {
  width: 100%;
  background-color: #04568a;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 9px rgb(153, 189, 255);
}

.button:active {
  background-color: #0028aa;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button:hover{
  background-color: #3c80ff;
}